@import "./Variables.scss";
@import "./Mixins.scss";

  .main_error{   
    @include flex-column;     
    h1 {
        @include font-size(80px);
        @include font-weight(900);
        margin: 40px 0;
    }  

    .main_content{
        @include font-size(36px);
        @include font-weight(400);
        margin: 50px 0;
    }

    .main_link {  
        padding-top: 80px;  
        margin-bottom: 40px;
        color: $primary;    
        text-decoration: underline $primary;    
    } 
}

/* mobiles */
@media screen and (max-width: 767px) {

    .main_error{       
        .container_error{
            @include flex-column;   
        }
      
        .main_content{
            margin: 0 20px;
            @include font-size(02px);
            @include font-weight(400);
        }

        .main_link{
            @include font-size(14px);
        }
    }
}