@import './Variables.scss';
@import './Mixins.scss';

.grid{
    @include background-colors(#F6F6F6);
    @include small-radius;   
    @include width-max; 
    @include flex-center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    margin: 10px auto; 
}


  /* mobile */
  @media screen and (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        margin: 35px 0;
        padding: 0;
        @include background-colors(white);
    }
  }

